@import "../../../theme/web/custom-variables";
@import "./tokens/index.scss";
@import "./components/index.scss";
@import "../web/docs-styleTokens/";
@import "../web/docs-componentTokens/";

// Base styles js for testing
body {
    font-family: $font-primary;
    background-color: var(--base-white);
    color: var(--base-black);
}
