@import '../../../theme/web/custom-variables';
@import "./tokens/index.scss";
@import "./components/index.scss";

// Base styles js for testing
body {
    font-family: $font-primary;
    background-color: $base-white;
    color: $base-black;
}