# Mendix local app build
deployment/
.mendix-cache/
theme-cache/
.DS_Store
Thumbs.db

# Mendix Team Server SVN files (not used)
.svn/

# Build artifacts
*.mpk
*.mda

# IDE/editor files
.vscode/
.idea/
*.iml

# Log files
*.log

# System files
*.swp
*.tmp

# Node modules (if you ever install tooling)
node_modules/
/*.launch
/deployment/
/packages/
/releases/
/.mendix-cache/
/.classpath
/.project
/trimm_designsystem.mpr.bak
/trimm_designsystem.mpr.lock
/modeler-merge-marker
/project-settings.user.json
/javasource/*/proxies/
/javasource/system/
/**/node_modules/
!/javascriptsource/**/node_modules/
/nativemobile/builds/
/vendorlib/temp/
/.svn/
/mprcontents/mprjournal*
