.docs-theme-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $spacing-32;
    background: var(--base-white);
    border-radius: $radius-8;
    margin-bottom: $spacing-24;
    margin-left: auto;
    margin-right: auto;
    border: $border-1 solid #e5e7eb;
    box-shadow: $shadow-8;
    width: 100%;
    max-width: 900px;
    box-sizing: border-box;
}

.docs-theme-sectionTitle {
    font-size: $font-size-h4;
    font-weight: $font-weight-bold;
    color: $font-primary;
    text-align: left;
    margin-bottom: $spacing-8;
    margin-top: $spacing-4;
}

.docs-theme-sectionText {
    font-size: $font-size-body-2;
    font-weight: $font-weight-regular;
    line-height: $line-height-body-1;
    color: $font-primary;
    text-align: left;
    margin-bottom: $spacing-8;
    margin-top: 0;
}
