// Brand Colors
$brand-1: #00172B !default; // Navy Blue
$brand-2: #F37123 !default; // Orange
$brand-3: #0E808A !default; // Teal

// Base Colors
$base-black: #231F20 !default; // Black
$base-white: #FFFFFF !default; // White

// Secondary Colors
$secondary-1: #6E6F72 !default; // Dark Grey
$secondary-2: #EDD7C4 !default; // Beige

// Support Colors
$support-1: #392B78 !default; // Purple
$support-2: #B92025 !default; // Red
$support-3: #176E4E !default; // Green
$support-4: #FFC107 !default; // Yellow ( For Warnings: Not mentioned in the brandbook)