// Brand Colors
$brand-1: darken(#00172B, 40%) !default; // Navy Blue
$brand-2: darken(#F37123, 40%) !default; // Orange
$brand-3: darken(#0E808A, 40%) !default; // Teal

// Base Colors
$base-black: darken(#231F20, 40%) !default; // Black
$base-white: darken(#FFFFFF, 40%) !default; // White

// Secondary Colors
$secondary-1: darken(#6E6F72, 40%) !default; // Dark Grey
$secondary-2: darken(#EDD7C4, 40%) !default; // Beige

// Support Colors
$support-1: darken(#392B78, 40%) !default; // Purple
$support-2: darken(#B92025, 40%) !default; // Red
$support-3: darken(#176E4E, 40%) !default; // Green
$support-4: darken(#FFC107, 40%) !default; // Yellow ( For Warnings: Not mentioned in the brandbook but added for styling purposes)
