$spacing-0: 0px !default;
$spacing-4: 4px !default;
$spacing-8: 8px !default;
$spacing-12: 12px !default;
$spacing-16: 16px !default;
$spacing-24: 24px !default;
$spacing-32: 32px !default;
$spacing-40: 40px !default;
$spacing-64: 64px !default;
$spacing-auto: auto !default;