// Font Family
$font-primary: 'GothamSSm', sans-serif !default;


// Font Weights
$font-weight-light: 300 !default;
$font-weight-regular: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 700 !default;

// Headings
$font-size-h1: 130px !default;
$font-size-h2: 50px !default;
$font-size-h3: 40px !default;
$font-size-h4: 30px !default;
$font-size-h5: 24px !default;
$font-size-h6: 20px !default;

// Line Heights (for headings)
$line-height-h1: 150px !default;
$line-height-h2: 130px !default;
$line-height-h3: 130px !default;
$line-height-h4: 120px !default;
$line-height-h5: 32px !default;
$line-height-h6: 28px !default;

// Body Text
$font-size-body-1: 18px !default;
$font-size-body-2: 16px !default;
$font-size-body-3: 14px !default;
$font-size-body-4: 12px !default;

$line-height-body-1: 28px !default;
$line-height-body-2: 24px !default;
$line-height-body-3: 20px !default;
$line-height-body-4: 18px !default;