.trimm-dropdown {
    position: relative;
    display: inline-block;
    font-family: $font-primary;
}

.trimm-dropdown-toggle {
    background-color: var(--brand-3);
    color: var(--base-white);
    padding: $spacing-8 $spacing-16;
    font-weight: $font-weight-semibold;
    border: none;
    border-radius: $radius-4;
    cursor: pointer;
    box-shadow: $shadow-2;

    &:hover {
        transform: scale(1.05);
        box-shadow: $shadow-12;
        background-color: var(--brand-3-hover);
        color: var(--base-white);
    }
}

.trimm-dropdown-menu {
    margin-top: $spacing-8;
    background-color: var(--base-white);
    border-radius: $radius-4;
    box-shadow: $shadow-6;
    padding: $spacing-8 0;
    position: absolute;
    z-index: 9999;
    display: block;
    width: 200px;
}

.trimm-dropdown-item {
    padding: $spacing-8 $spacing-16;
    font-size: $font-size-body-2;
    color: var(--base-black);
    cursor: pointer;

    &:hover {
        background-color: var(--brand-2-hover);
        color: var(--base-black);
    }
}

.trimm-dropdown-icon {
    margin-right: $spacing-8;
    display: inline-flex;
    align-items: center;
    height: 1em;
}

.trimm-dropdown-label {
    margin-right: $spacing-4;
}

.trimm-dropdown-caret {
    margin-left: $spacing-4;
    font-size: $font-size-body-4;
    vertical-align: middle;
}