.trimm-range-datepicker {
    font-family: $font-primary;
    width: 100%;
    max-width: 800px;
    padding: $spacing-16;
    border-radius: $radius-8;
    background-color: transparent;
    margin: 0 auto;
}

.trimm-range-datepicker-toggle {
    display: flex;
    justify-content: space-between;
    gap: $spacing-16;
    margin-bottom: $spacing-16;
}

.trimm-range-datepicker-field {
    flex: 1;
    padding: $spacing-8 $spacing-16;
    border: $border-1 solid var(--base-black);
    background-color: var(--base-white);
    border-radius: $radius-4;
    cursor: pointer;
    text-align: left;
    font-weight: $font-weight-regular;

    &.active {
        border-color: var(--brand-1);
    }
}

.trimm-range-datepicker-label-inline {
    display: flex;
    align-items: center;
    gap: $spacing-8;
    font-size: $font-size-body-4;
    color: var(--base-black);
    font-weight: $font-weight-regular;
}

.trimm-range-datepicker-label-text {
    font-weight: $font-weight-medium;
}

.trimm-range-datepicker-date {
    font-weight: $font-weight-bold;
}

.trimm-datepicker-nav {
    display: flex;
    justify-content: flex-end;
    gap: $spacing-8;
    margin-bottom: $spacing-16;

    button {
        border: none;
        background: none;
        cursor: pointer;
        font-size: $font-size-body-3;
        padding: $spacing-4;
        color: var(--base-black);
    }
}

.trimm-datepicker-months {
    display: flex;
    gap: $spacing-32;
}

.trimm-datepicker-month {
    flex: 1;
}

.trimm-datepicker-header {
    text-align: center;
    font-weight: $font-weight-bold;
    font-size: $font-size-body-2;
    color: var(--base-black);
    margin-bottom: $spacing-8;
}

.trimm-datepicker-days-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-size: $font-size-body-4;
    text-align: center;
    margin-bottom: $spacing-8;
}

.trimm-datepicker-day-label {
    font-weight: $font-weight-medium;
    color: var(--base-black);
}

.trimm-datepicker-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: $spacing-4;
    margin-bottom: $spacing-4;
}

.trimm-range-datepicker-day {
    padding: $spacing-8;
    text-align: center;
    border-radius: $radius-full;
    background-color: transparent;
    cursor: pointer;
    font-size: $font-size-body-4;
    user-select: none;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: var(--brand-3-hover);
        color: var(--base-white);
    }

    &.selected {
        background-color: var(--brand-1);
        color: var(--base-white);
    }

    &.in-range {
        background-color: var(--brand-2-hover);
        color: var(--base-black);
        font-size: $font-size-body-4;
        border-radius: 0;
    }

    &.disabled {
        background-color: transparent;
        color: var(--secondary-1-disabled);
        cursor: not-allowed !important;
        pointer-events: none;
    }
}

.trimm-datepicker-icon {
    margin-right: $spacing-8;
    font-size: $font-size-body-4;
}