/* Error: Undefined variable.
 *     ,
 * 139 |         border-radius: $border-radius-8;
 *     |                        ^^^^^^^^^^^^^^^^
 *     '
 *   C:\Users\rizel.thomas\OneDrive - TriMM\Desktop\TRIMM_DesignSystem\themesource\trimm_designsystem\web\components\custom\_color-token-editor.scss 139:24  @import
 *   C:\Users\rizel.thomas\OneDrive - TriMM\Desktop\TRIMM_DesignSystem\themesource\trimm_designsystem\web\components\index.scss 19:9                         @import
 *   C:\Users\rizel.thomas\OneDrive - TriMM\Desktop\TRIMM_DesignSystem\themesource\trimm_designsystem\web\main.scss 3:9                                      @use
 *   C:\Users\rizel.thomas\OneDrive - TriMM\Desktop\TRIMM_DesignSystem\deployment\sass\main.scss 14:1                                                        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a     ,\a 139 |         border-radius: $border-radius-8;\a     |                        ^^^^^^^^^^^^^^^^\a     '\a   C:\\Users\\rizel.thomas\\OneDrive - TriMM\\Desktop\\TRIMM_DesignSystem\\themesource\\trimm_designsystem\\web\\components\\custom\\_color-token-editor.scss 139:24  @import\a   C:\\Users\\rizel.thomas\\OneDrive - TriMM\\Desktop\\TRIMM_DesignSystem\\themesource\\trimm_designsystem\\web\\components\\index.scss 19:9                         @import\a   C:\\Users\\rizel.thomas\\OneDrive - TriMM\\Desktop\\TRIMM_DesignSystem\\themesource\\trimm_designsystem\\web\\main.scss 3:9                                      @use\a   C:\\Users\\rizel.thomas\\OneDrive - TriMM\\Desktop\\TRIMM_DesignSystem\\deployment\\sass\\main.scss 14:1                                                        root stylesheet";
}
