/* Error: Can't find stylesheet to import.
 *   ,
 * 5 | @import "../web/docs-componentTokens/";
 *   |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   C:\Users\rizel.thomas\OneDrive - TriMM\Desktop\Grad App\TRIMM_DesignSystem\themesource\trimm_designsystem\web\main.scss 5:9  @use
 *   C:\Users\rizel.thomas\OneDrive - TriMM\Desktop\Grad App\TRIMM_DesignSystem\deployment\sass\main.scss 10:1                    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   ,\a 5 | @import \"../web/docs-componentTokens/\";\d\a   |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   '\a   C:\\Users\\rizel.thomas\\OneDrive - TriMM\\Desktop\\Grad App\\TRIMM_DesignSystem\\themesource\\trimm_designsystem\\web\\main.scss 5:9  @use\a   C:\\Users\\rizel.thomas\\OneDrive - TriMM\\Desktop\\Grad App\\TRIMM_DesignSystem\\deployment\\sass\\main.scss 10:1                    root stylesheet";
}
